* {
    font-family: CozetteVector; 
    font-weight: 200;
    color: rgb(106, 75, 208)
}

:root {
    --wobble: 10deg;
    --wobble-alt: -10deg;
}

@font-face {
    font-family: CozetteVector;
    src:url(assets/CozetteVector.ttf) format("truetype");

}

body {
    background: linear-gradient(#00000099, #00000099), url("/assets/stars.gif") repeat;
}

.top {
    color: white;
    text-align: center;
    margin: 40px 0px;
    animation: wobbly 3s ease-in-out infinite alternate;

}

@keyframes wobbly {
  50% {
    transform: skew(var(--wobble));
  }
  100% {
    transform: skew(var(--wobble-alt));
  }
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#terminal {
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 0, 235, 0.15);
    flex: 1 25%;
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    padding: 15px;
    margin: 20px;
}

#info {
    font-weight: bold;
    border-bottom: 2px dashed rgba(45, 10, 255, 0.5);
}

#cmd {
    min-width: 65%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: none!important;
    background-color: transparent;
    color: inherit;
    outline: none;
    font-size: 16px;
}

#webrings {
    display: flex;
    padding-top: 90px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 99999;

    background:
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.03) 0px,
            rgba(255,255,255,0.03) 1px,
            rgba(0,0,0,0.12) 10px,
            rgba(0,0,0,0.12) 2px
        );
}